@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  padding: 0;
  margin: 0;
}

@layer components {
  .base-main {
    @apply flex min-h-screen flex-col items-center p-10 gap-4;
  }
  .base-header {
    @apply text-4xl font-bold;
  }
  .base-link {
    @apply underline
  }

  .page-container {
    @apply flex h-screen flex-col border;
  }
  .page-body-container {
    @apply overflow-y-scroll;
  }
  .page-body {
    @apply h-[2000px];
  }
  .page-footer {
    @apply sticky bottom-0 w-full px-4 py-2 border;
  }
}
